.button{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: #c70101;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    border: none;
    text-transform: uppercase;
    // font-family: Museo Sans 100 Thin;
    &_main{
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 67px;
        margin-bottom: 18px;
    }
    &_registr{
        width: 300px;
        height: 55px;
        font-size: 16px;
        
    }
}
